.container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.year {
  font-size: 42px;
  margin-bottom: 35px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
